/*
Global Styles -->
*/
@import "./scss/normalize.scss";
@import "./scss/variables.scss";
@import "./scss/mixins.scss";
@import "./scss/typography.scss";
@import "./scss/forms.scss";
@import "./scss/print.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $sansSerif;
}

/*
Make a case for mobile first, wherever you go. Shoehorning design into smaller views
is terrible for users, scale out. Use the mixins for responsive behaviors after doing a 
mobile first design. --LKP
*/

/*
Containers -->
*/

/*
Components -->
*/
